tools/import/n8n-import-wordpress.json
{
    "name": "WordPress Import - Posts + Web Stories (User-Agent Fix)",
    "nodes": [
        {
            "parameters": {},
            "id": "trigger",
            "name": "Start Import",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                200,
                400
            ]
        },
        {
            "parameters": {
                "url": "https://caasexpress.com/wp-json/wp/v2/posts",
                "options": {},
                "headerParametersUi": {
                    "parameter": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
                        }
                    ]
                },
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "per_page",
                            "value": "100"
                        },
                        {
                            "name": "status",
                            "value": "publish"
                        },
                        {
                            "name": "_embed",
                            "value": "true"
                        }
                    ]
                }
            },
            "id": "fetch-posts",
            "name": "Fetch WordPress Posts",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                400,
                400
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const post = $json;\n\nconst title = post.title?.rendered || post.title || 'Sem título';\nconst content = post.content?.rendered || post.content || '';\nconst excerpt = post.excerpt?.rendered || post.excerpt || content.substring(0, 200);\n\nlet featured_image = '';\nif (post._embedded && post._embedded['wp:featuredmedia']) {\n  const media = post._embedded['wp:featuredmedia'][0];\n  if (media && media.source_url) {\n    featured_image = media.source_url;\n  }\n}\n\nreturn {\n  title,\n  content,\n  excerpt,\n  slug: post.slug || '',\n  status: post.status || 'publish',\n  date: post.date || new Date().toISOString(),\n  featured_image,\n  original_id: post.id\n};"
            },
            "id": "transform-posts",
            "name": "Transform Posts",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                400
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop",
            "name": "Process One at a Time",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                800,
                400
            ]
        },
        {
            "parameters": {
                "amount": 30,
                "unit": "seconds"
            },
            "id": "wait",
            "name": "Wait 30 Seconds",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://caasexpress-website.vercel.app/wp-json/wp/v2/posts",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  title: $json.title,\n  content: $json.content,\n  excerpt: $json.excerpt,\n  slug: $json.slug,\n  status: $json.status,\n  date: $json.date\n}) }}",
                "headerParametersUi": {
                    "parameter": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "create-post",
            "name": "Create Post",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1200,
                400
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "CONFIGURE_BEARER_TOKEN",
                    "name": "Caas Express Bearer"
                }
            }
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// Log success\nconsole.log('Post criado:', $json.title || $json.id);\nreturn { success: true, id: $json.id, title: $json.title };"
            },
            "id": "log-result",
            "name": "Log Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1400,
                400
            ]
        }
    ],
    "connections": {
        "Start Import": {
            "main": [
                [
                    {
                        "node": "Fetch WordPress Posts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch WordPress Posts": {
            "main": [
                [
                    {
                        "node": "Transform Posts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform Posts": {
            "main": [
                [
                    {
                        "node": "Process One at a Time",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process One at a Time": {
            "main": [
                [
                    {
                        "node": "Wait 30 Seconds",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Wait 30 Seconds": {
            "main": [
                [
                    {
                        "node": "Create Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Post": {
            "main": [
                [
                    {
                        "node": "Log Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Result": {
            "main": [
                [
                    {
                        "node": "Process One at a Time",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0
}